/** 顶部菜单 */
.framework-topbar{font-size:14px;clear:both;height: 60px;z-index:2;background: #1b8fe6;border-bottom: 3px solid #01AAED;}
.framework-topbar a{text-decoration:none}.framework-topbar a:focus{outline:none}
.framework-topbar .topbar-head{z-index:3;height: 60px;position:relative;width:220px;box-shadow:0 1px 3px 0 rgba(0,0,0,.1);}
.framework-topbar .topbar-head .topbar-logo{color:#fff;display:block;font-size:18px;line-height: 60px;text-align:center;width:100%;}
.framework-topbar .topbar-btn{background:none;color:#fff;font-size:14px;height: 60px;line-height: 60px;z-index:2;display:block;padding:0 20px;}
.framework-topbar .topbar-btn:hover,.framework-topbar .topbar-btn.active{background:#36a3ff;border-bottom: 3px solid #01AAED;}
.framework-topbar .dropdown-backdrop{display:none!important}
.framework-topbar .dropdown .dropdown-menu{margin:0;padding:0;width:100%;min-width:0;border:none;border-radius:0;z-index:2;}
.framework-topbar .dropdown .dropdown-menu .topbar-btn{height:auto;padding:0;font-size:14px;color:#333;border-top:1px solid #eaedf1}
.framework-topbar .dropdown .dropdown-menu .topbar-btn a{padding:0;line-height:45px;text-align:center;}
.framework-topbar .dropdown.open .toggle-icon{transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.framework-topbar .dropdown.open .topbar-btn{color:#333;background:#fff}

/* 左则菜单 */
.framework-leftbar{font-size:13px;top: 60px;bottom:0;width:220px;position:fixed;overflow:auto;overflow-x:hidden;background:#293038;box-shadow:1px 0 3px 0 rgba(0,0,0,.08);z-index:3;border-right: 2px solid #258ED8 !important;}
.framework-leftbar .leftbar-container .line-top{font-size:10px;color:#ccc;text-align:center;letter-spacing:2px}
.framework-leftbar .leftbar-container .font-icon{min-width:15px;text-align:center;margin-right:5px;display:inline-block;font-size:14px}
.framework-leftbar .leftbar-container a{line-height:40px;display:block;background:#22282e;color:#fff;padding:0 15px;border-bottom:1px solid rgba(0,0,0,.05);}
.framework-leftbar .leftbar-container a:hover{text-decoration:none;background:#414d5c}
.framework-leftbar .leftbar-container div div{display:none}
.framework-leftbar .leftbar-container div.open > a > i{transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.framework-leftbar .leftbar-container div.open div{display:block}
.framework-leftbar .leftbar-container div div a{padding-left:30px;background:none}
.framework-leftbar .leftbar-container > a.active,
.framework-leftbar .leftbar-container div div a.active{background:#2494f2;border-right: 2px solid #258ED8 !important;}


.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background-color: #2494f2;
    border-right: 1px solid #258ED8 !important;
}

.layui-header{height:60px;;background: #1b8fe6;border-bottom: 3px solid #01AAED;}
.layui-header .layui-nav-item.layui-this{background:#36a3ff;border-bottom: 3px solid #01AAED;}


.layui-layout-admin .layui-header {
    background-color: #1b8fe6;
}
.leftbar{
    border-right: 2px solid #258ED8 !important;

}