
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background-color: #009688;
    border-right: 1px solid #18BAAC !important;
}
/** 顶部菜单 */

.layui-header{height:60px;;background: #393D49;border-bottom: 3px solid #18BAAC;}
.layui-header .layui-nav-item.layui-this{background:#009688;border-bottom: 3px solid #18BAAC;}


.layui-layout-admin .layui-header {
    background-color: #393D49;
}
/* 左则菜单 */
.leftbar{
    border-right: 2px solid #18BAAC !important;

}